body {
  font-family: "Sora", sans-serif;
  line-height: 1.8;
}

h1 {
  font-weight: 700;
  font-size: 70px;
  text-shadow: -4px 3px 0px #000000;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

p {
  font-style: 22px;
}

footer {
  background: #02baf999;
  margin-top: 80px;
}

section {
  margin-top: 100px;
}

.btn-primary {
  padding: 15px 30px;
  background: #ff5363;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: -10px 11px 0px #000000;
  border-radius: 40px;
  font-size: 18px;
}

.nav__hero-content {
  background-image: url("/assets/images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.navbar-expand-lg .navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #fff !important;
}

.main-p {
  width: 750px;
}

.main-heading {
  margin-top: 0;
}

.main-points img {
  max-width: 500px;
}

.main-points__text {
  width: 300px;
}

.blue-blur {
  position: absolute;
  right: 0;
  z-index: -10;
  width: 350px;
}

.yellow-blur {
  position: absolute;
  left: 0;
  top: 1500px;
  z-index: -10;
  width: 350px;
}

.post-image img {
  max-width: 600px;
  align-self: center;
}

.post-image h2 {
  width: 400px;
}

.post-image-p {
  max-width: 400px;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content {
  margin-top: 70px;
  margin-bottom: 100px;
}

.continent {
  height: 300px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.choose-continent {
  height: 100%;
  background-image: url("/assets/images/continent-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.continent-row-1 {
  margin-bottom: 20px;
}

.continent-top {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.continent-bottom {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.continent-middle {
  margin: 0 20px;
}

footer {
  height: 700px;
}

footer ul {
  list-style: none;
}

footer h3 {
  font-weight: 700;
}
